variables:
    GIT_SUBMODULE_STRATEGY: recursive

pages:
  variables:
    COURSE_GITLAB_URL: $CI_PROJECT_URL
  tags:
    - docker
    - pages
  only:
    - master
    - exercices
    - /^pub-.*$/
  image: boileaum/jupyter
  script:
    - make clean
    - make -j 7
    - mv build public
  artifacts:
    paths:
      - public
