.DS_Store
.ipynb_checkpoints
pas_mal.txt
coded.txt
decoded.txt
*.pyc
mon_module.py
today_stras.py
include.lst
*.slides.html
public
*_files/
__pycache__/

# 07
arbres/
quartiers/
get-pip.py
stras_map.html
stras_tree.html
stras_tree_essence.html
test.out
test.h5

build/

exos/sous_paquet/noel.py
exos/sous_paquet2/deco.py
