.DS_Store
.ipynb_checkpoints
pas_mal.txt
coded.txt
decoded.txt
*.pyc
formation-python.zip
today_stras.py
include.lst
*.tex
*.pdf
*.slides.html
public
ponte-*
*_files/
__pycache__/

# 07
arbres/
quartiers/
get-pip.py
stras_map.html
stras_tree.html
stras_tree_essence.html
test.out
test.h5

build/
