variables:
    GIT_SUBMODULE_STRATEGY: recursive

pages:
  variables:
    COURSE_GITLAB_URL: $CI_PROJECT_URL
  tags:
    - docker
    - pages
  only:
    variables:
      - $CI_COMMIT_REF_NAME == $CI_PROJECT_NAMESPACE
      - $CI_COMMIT_REF_NAME == /^pub-.*$/
  image: boileaum/jupyter
  script:
    - make clean
    - make install
    - make -j 7
    - make archive
    - mv build public
  artifacts:
    paths:
      - public
