<!DOCTYPE html>
<html>
<head><meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <p><img src="fig/python-logo.png" alt=""></p>
        <p><h3>{{ subtitle }}</h3></p><hr>
        <p><h1>{{ title }}</h1></p>
        <hr>
        <table>
            <tr>
                <th id="chap">Chapitre</th>
                <th>Html</th> 
                <th>Diaporama</th>
                <th>Archive</th>
            </tr>
            {% for chapter in chapters %}
            <tr>
                <td>{{ chapter.title }}</td>
                <td><a href="{{ chapter.filename}}.html"><img width="25" src="fig/favicon-notebook.ico"></a></td>
                <td><a href="{{ chapter.filename}}.slides.html"><img width="35" src="fig/slideshow.png"></a></td>
                <td><a href="{{ chapter.filename}}.zip"><img width="35" src="fig/download.svg"></a></td>
            </tr>
            {% endfor %}
        </table>
        <hr>
        <table id="bottom">
            <tr>
                <td>Exécuter</td>
                <td>Version pdf</td>
                <td>Sources</td>
            </tr>
            <tr>
                <td><a href="{{ mybinder_url }}"><img src="https://mybinder.org/badge.svg"></a></td>
                <td><a href="{{ pdf_name }}"><img width="30" src="fig/Adobe_PDF_icon.svg"></a></td>
                <td><a href="{{ gitlab_url }}"><img width="30" src="fig/GitLab_Logo.svg"></a></td>
            </tr>
        </table>
        <hr>                
        <table id="auteurs">
            {% for author in authors %}
            <tr>
                <td>{{ author.name }}</td>
                <td><a href="mailto: {{ author.email }}"><img style="display:inline" width="20" src="fig/email.svg"></a></td>
            </tr>
            {% endfor %}
        </table>
        <p><div id="licence">Contenu mis à disposition sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="fig/by-sa.svg" width="70px"></div></a></p>
    </div>
</body>
</html>
